extends layout
block mainbody
  #mainbody
    section#mainbodyitems
      h3 Alice &amp; Bob
      p 1344 Chicaneroy Way
      p Homest'd've, VT 00055
      p Alice &amp; Bob and I have been operating this site since <code>NOW()</code>.
      p (802) 888-8888

