extends layout
block mainbody
  #mainbody
    section.mainbodyitems
      h3 Announcements
      section.announcements
        .announceitem
          h4.title I will be leaving the planet forever
          p.date Jan.15
          p After I blow it up.
          p Unless,
          p One of your planet's "champions" can best me in one-on-one combat.
        .announceitem
          h4.title 
          p.date Jan.16
          p 
      h3 Items for sale
      section.forsaleitems
        table
          tr
            th Item
            th Description
            th Price
            th Stock
          tr
            td 
            td 
            td.price $80
              span.perunit  / 20oz.
            td.qty 500
      h3 Upcoming events
      section
        .eventitem
          h4.title Semi-annual Colon Cleansing Contest
          p.date October 20; 2pm&ndash;6pm
          p Celebrate the season with competitive sharting.
      h3 Message of the day
      section
        .motditem
          p Drink all the shampoo in the house.
        h3#partners.wide Our friends
        section#partners.wide
          .partnerlink.wide
            a(href="")
              .clickable-area Uh...
        .bodyspace

